<footer
  id="main-footer"
  style="background: #222629; color: #86c232;"
  class="text-center pt-3"
>
  <div class="container">
    <div class="row mb-2">
      <div class="col text-center" style="font-size: 20px;">
        <i class="fab fa-"></i> Contact Us
      </div>
    </div>
    <div class="row mb-1">
      <div class="col text-center">
        aniruddhp6@gmail.com
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <div>
          <a href="https://www.linkedin.com/in/aniruddh-pawar-83944a163/">
            <i class="fab fa-linkedin mr-2" style="color: #86c232;"></i>
          </a>
          <a href="https://github.com/aniruddhp6">
            <i class="fab fa-github mr-2" style="color: #86c232;"></i>
          </a>
          <a href="https://www.facebook.com/aniruddh.pawar.77/">
            <i class="fab fa-facebook mr-2" style="color: #86c232;"></i>
          </a>
          <a href="https://www.instagram.com/aniruddh_98/">
            <i class="fab fa-instagram mr-2" style="color: #86c232;"></i>
          </a>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col">
        <p>Copyright &copy; <span id="year"></span> Take Notes</p>
      </div>
    </div>
  </div>
</footer>
